<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        <label for="">Digite o Nome do Veiculo: </label>
        <input type="text" placeholder="">
        <label for="">Digite o Valor do Veiculo: </label>
        <input type="number" placeholder="">
        <label for="">Digite o Ano de Fabricação do Veiculo: </label>
        <input type="number" placeholder="">
        <input type="submit" value="Calcular IPVA">
    </form>
</body>
</html>